@tailwind base;
@tailwind components;
@tailwind utilities;

/* Classes below are for the main dashboard page*/
.header {
  font-size: 50px;
}

.month-selector {
  margin: 10px;
  background-color: #D3D3D3;
  align-items: center
}

.total-spending {
  font-size: 50px;
}

.home-page {
  display: flex;
  justify-content: center;
}